* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
  }
  
  .hero-three{
      width: 100vw;
      min-height: 100vh;
      background-image: url(../img/r1.jpg);
      background-position: center;
      background-size: cover;
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    .container{
     height: 600px;
     padding: 20px;
     margin-left: 40px;
     margin-right: 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10px;
  
     & .title{
      font-size: 4.3rem;
      margin-bottom: .1rem;
      letter-spacing: 1rem;
      font-weight: 900;
      font-family: "Pacifico", cursive;
     }
  
     & .subtitle{
      font-size: 1.5rem;
      padding-left: 4rem;
      margin-bottom: 1.8rem;
      letter-spacing: .5rem;
      font-weight: 300;
     }
  
     & .button{
      text-decoration: none;
      display: inline-block;
      background-color: rgba(0, 252, 231, 0.726);
      border-radius: 4px;
      font-size: 1.2rem;
      padding: .4em 1em;
      margin-left: 17rem;
      color: rgb(255, 255, 255);
      font-weight: 600;
     }
  
     & .cake {
      padding: 2rem;
      width: 500px;
     }
  } 
  
  
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    gap: 2rem;
    height: fit-content;
    padding: 1rem 2rem;
  }
  
  & .btn {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 1.2rem;
    border: 1px solid rgba(245, 245, 245, 0.212);
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-primary-1);
    overflow: hidden;
    transition: all 0.2s ease;

    &:hover {
        background-color: rgba(0, 252, 231, 0.726);
        color: #ffffff;
        border-radius: 20px;
        transform: none;
    }
}

        
      &.active {
          background: rgba(255, 255, 255, 0.479);
      }