* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.information-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.information-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tag {
    background-color: #81c4ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.info {
    color: #666;
    margin-bottom: 20px;
}

.button {
    background-color: #81c4ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button span {
    margin-right: 10px;
}

svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

